html {
	box-sizeing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizeing: inherit;
}

body {
	margin: 0;
	font-family: 'helvetica Neue';
}

h1, h2, h3, h4, h5, p, ul {
	margin: 0;
	padding: 0;
}